/** HEADER **/
.dropdown-toggle {
  font-size: 14px !important;
}
.btn-secondary {
  background-color: #f7ecd5;
  border: none; 
  color: rgb(33, 37, 41) !important;
  font-size: 18px !important;
  text-shadow: 0.5px 0.5px gray;
}
.btn-secondary:hover {
  background-color: #f7ecd5;
  border: none; 
  color: #212529 !important;
}
.navbar {
  margin: 0px;
  background-color: #f7ecd5 !important;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.nav-item {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 5px;
}

#homepage {
  font-family: 'Pacifico', cursive !important;
  padding: 0px;
  margin-top:0px;
  font-size: 24px;
  min-width: 120px;
  line-height: 20px;
  color: #212529 !important;
  text-shadow: none !important;
}

/* END HEADER */

/** BODY **/

.dropdown-menu {
  background-color: #f7ecd5;
}

#kittens{
  margin-top: -50px;
  margin-left: 20px;
}  

body {
  background-color: #d5ecf7;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

hr.style3 {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px dashed #8c8b8b;
}

#notice {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0px;
}
.twoboxes {
  background-color: #d5ecf7;
  padding: 10px;
  margin-left: 10px;
}
.twoboxes a {
  color: black;
}

#fblink {
  text-decoration: none !important;
  color: black;
}

.twoboxes > h1 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin-bottom: 15px;
}
.case {
  font-size: 18px;
  font-style: italic;
}
.case-cap {
  margin-top: 6px;
  margin-right: 60px;
  margin-left: 30px;
}
.pgsection {
  margin-bottom: 30px;
}

#title {
  font-family: 'Pacifico', cursive;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4em;
  text-align: center;
}

#voucher {
  padding-inline-start: 0px;
}

/* END OF BODY */

footer {
  border: 2px gray;
  background-color: #e6eef5;
  height: 150px;
  padding-top:20px;
  margin-top: 10px;
  box-shadow: 0 -1px 5px 1px rgba(0,0,0,0.25);
  font-family:  'Roboto Slab', serif;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .nav-item {
    padding-right: 45px;
  }
  #kittens {
    width: 500px;
    height: 420px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-item{
    font-size: 14px;
  }
  #kittens {
    width: 400px;
    height: 330px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .nav-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-item {
    font-size: 14px;
  }
  #kittens {
    width: 400px;
    height: 330px;
    margin-left: -10px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .nav-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-item {
    font-size: 14px;
  }
  #kittens {
    width: 400px;
    height: 330px;
  }
}

